body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;
}



.swap-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: calc(100% - 10px);
  padding: 8px;
  font-size: 16px;
}

input[readonly] {
  background-color: #f4f4f9;
}

.swap-arrow {
  text-align: center;
  font-size: 24px;
}

#swap-button {
  width: calc(100%);
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

#swap-button:hover {
  background-color: #45a049;
}

#error-message {
  color: red;
}